############
# Required #
############

region = "<region_name>"
owner  = "<used also as prefix to resources names and set in Owner tag>"

db_password = "<Master password for PostgreSQL database>"

path_pair_key = "<path_to_key.pem_on_local>"

key_name = "<name of key.pem in AWS>"

access_public_ip = "<Public IP used to connect to bastion and loadbalancer>"

#URL and prefix to repos with s3, db, nginx apps. Repos shall names prefix-s3, prefix-db and prefix-nginx
container_image_prefix = "<aws_account_id.dkr.ecr.region.amazonaws.com/prefix->"

############
# Optional #
############

#None